<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Santa 🎅</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
    <header class="logo-header">
        <div class="logo-wrapper">
    <img src="{{ url_for('static', filename='images/logo.png') }}" class="association-logo" />
</div>
       
    </header>
        <h1>Tirage au Sort Secret Santa</h1>
        
        <p>Entrez votre prénom et regardez à qui vous devez offrir un cadeau.</p>
        
        <form id="secretSantaForm">
           <div class="search-container">
            <input type="text" id="searchInput" placeholder="Rechercher un joueur..." onkeyup="suggererJoueurs()">
            <div id="suggestionsContainer"></div>
            </div>      
        <button type="submit" id="affectation">Voir mon affectation</button>
        </form>
        <p id="errorMessage" style="color: red; font-weight: bold; display: none;"></p>
    </div>
    
<script>
    const players = {{ players | tojson }};
    const listeJoueurs = players.map(p => p[0]);
</script>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<p class="texte-couleur" id="texte-arcenciel">Fais avec ❤️ par Célian</p>
</body>
<img src="{{ url_for('static', filename='images/dance.gif') }}" class="dance-gif dance-left">
<img src="{{ url_for('static', filename='images/dance.gif') }}" class="dance-gif dance-right">
</html>